* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font), sans-serif, Arial;
}

body {
  background-image: url('/images/bgFront.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}