.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 70%;
    height: 70%;
    padding: 0 30px 0 0;
    background-color: rgb(196, 220, 218);
    justify-content: center;
    align-items: center;
}

.imageProfile {
    display: flex;
    justify-content: center;
}

.image {
    border-radius: 60%;
    height: 13rem;
    width: 13rem;
}

.description {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem
}

.button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
} 

.colorButton {
    color: red;
}